body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}
.sidebar {
    width: 20%;
    background-color: #f4f4f4;
    padding: 10px;
    border-right: 1px solid #ccc;
    height: 100vh;
}
.sidebar a {
    display: block;
    color: #333;
    text-decoration: none;
    margin: 10px 0;
    padding: 8px;
    border-radius: 4px;
}
.sidebar a:hover {
    background-color: #ddd;
}
.content {
    flex: 1;
    padding: 20px;
    
}
.hidden {
    display: none;
}
.content p{
    display: flex;
    
}